
html {
  background: url(images/outerspace_landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
    width: 100%;
}

nav {
    background-color: gray;
    height: 60px;
    padding: 0 60px;
    position: sticky;
}

ul {
    display: inline-block;
    position: relative;
    top: 5px;
}

li {
    display: inline-block;
    float: left;
}

li:after {
    content: "|";
    padding: 5px;
}

.center-block {
    margin: 200px auto;
    position: relative;
}

.logo {
    border: 1px black solid;
    border-radius: 50%;
    top: 5px;
    position: relative;
    width: 50px;
}

.pin-bottom-right {
    display: inline-block;
    top: 200px;
    left: 500px;
    position: relative;
    
}

.pin-top-left {
    display: inline-block;
    position: absolute;
    top: -100px;
    left: -100px;
}

.width-200px {
    width: 200px;
}

.width-600px {
    width: 600px;
}

.height-300px {
    height: 300px;
}

.border-thick-green-dotted {
    border: 10px green dotted;
}